<body>
	<div class="title">
		<h1>Search For Books</h1>
</div>
<div class="charTable">
{{#each Books }}
    <h1> <a href="/books/{{BookID}}" > {{Title}} </h1>

{{/each}}

</div>
	<div class="button">
		<button type="button"><a href="/">Home</a></button>
	</div>
</body>
