<body>
	<div class="title">
		<h1>Welcome to Movies and Media! </h1>

	</div>
	<div class="directory">
		<h2><a href="movies">Search Movies</a></h2>
		<h2><a href="shows">Search TV Shows</a></h2>
		<h2><a href="books">Search Books</a></h2>
		<h2><a href="games">Search Video Games</a></h2>
		<h2><a href="franchises">Search Franchises</a></h2>
	</div>
</body>
