<body>
	<div class="title">
		<h1>Welcome to Movies and Media! </h1>

	</div>
	<div class="directory">
		<h2><a href="char_create">Search Movies</a></h2>
		<h2><a href="char_view">Search TV Shows</a></h2>
		<h2><a href="spells">Search Books</a></h2>
		<h2><a href="monster">Search Video Games</a></h2>
		<h2><a href="class">Search Franchises</a></h2>
	</div>
</body>
