<body>
	<div class="title">
		<h1>Search For Movies</h1>
</div>

<div class="charTable">
{{#each Movies }}
    <h1> <a href="/movies/{{MovieID}}" > {{Title}} </h1>

{{/each}}

</div>

	<div class="button">
		<button type="button"><a href="/">Home</a></button>
	</div>
</body>
