<body>
	<div class="title">
		<h1>Game Details!</h1>
</div>

<div class="charTable">
{{#with Games.[0] }}
    <h1> {{Title}} </h1>
		<h1> Year: {{Year}} </h1>
		<h1> {{Description}} </h1>
{{/with}}

</br>
<h1> Genres </h1>
{{#each Games }}
		<h1> {{Genre}} </h1>
{{/each}}


</div>

	<div class="button">
		<button type="button"><a href="/">Home</a></button>
	</div>
</body>
