<body>
	<div class="title">
		<h1>Book Details!</h1>
</div>

<div class="charTable">
{{#with Books.[0] }}
    <h1> {{Title}} </h1>
		<h1> Year: {{Year}} </h1>

{{/with}}

</br>
<h1> Authors </h1>
{{#each Books }}
    <h1> {{Name}} </h1>

{{/each}}

</div>

	<div class="button">
		<button type="button"><a href="/">Home</a></button>
	</div>
</body>
