<body>
	<div class="title">
		<h1>Search For Books</h1>
</div>


<h2>Search by Book name: <input type="text" id="SearchName"> <button id="getButton">Search</button> </h2>


<h1> <a href="/books"> ALL BOOKS </a>  </h1>


	<div class="button">
		<button type="button"><a href="/">Home</a></button>
	</div>
</body>

<script>

document.getElementById("getButton").onclick = function(){

	var mahlink = "/searchbooks/name/";
	mahlink += document.getElementById("SearchName").value;
	window.location.assign(mahlink);
//			console.log(mahlink);

};



</script>
